*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cards{
    position: absolute;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    height: 300px;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
}
#card1{
    z-index: 4;
}
#card2{
    z-index: 3;
  rotate: -6deg;
  background-color: green;
}

#card2:hover{
    z-index: 40;
}

#card3{
    z-index: 2;
   rotate: -12deg;
   background-color: yellow;
}

#card3:hover{
    z-index: 40;
}

#card4{
    z-index: 1;
    rotate: -18deg;
    background-color: red;
}

#card4:hover{
    z-index: 40;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}